<!DOCTYPE html>
<html>
<head>
	<title>operface</title>
	{% load static %}
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/gallery.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <div class="flex-cont">
   <div class="flex-box">
     <div class="user-list">
       <ul>

         {% block instalator %}{% endblock %}

       </ul>
     </div>
   </div>
   <div class="flex-box">
     <div class="inst-list">
			 <ul>

         {% block installations %}{% endblock %}

		 </ul>
     </div>
   </div>
   <div class="flex-box">
     <div class="init-user">

       {% block installation %}{% endblock %}

     </div>
     <div class="info-user">
     <div class="flex-inst-block">
       <h2>Стартовый отчет</h2>
       <hr>
       <h4>Ответы:</h4>
       <ul>

          {% block start_detail_info %}{% endblock %}


     </ul>
      <hr>
      <h4>Фото:</h4>



				{% block start_photos %}{% endblock %}





      <hr>
      <h4>Предварительные бонусы: 30</h4>
     </div>
     <div class="flex-inst-block">
       <h2>Финальный отчет</h2>
      <hr>
      <h4>Ответы:</h4>
      <ul>
				{% block fin_detail_info %}{% endblock %}
      
    </ul>
     <hr>
     <h4>Фото:</h4>
    	{% block fin_photos %}{% endblock %}
     <hr>
     <h4>Начисленные бонусы: 35</h4>
     <textarea name="oper-comment" class="oper-comment">Замечания:</textarea>
       <input type="submit" value="Отправить">
    </div>
     </div>
   </div>
   </div>
   </body>
   </html>
