{% extends "base.html" %}


{% block instalator %}

{% for Instalator in Instalator_info %}
<li><a href="{% url 'main_oper_face:installations' Instalator.chat_id %}">{{Instalator.name}}</a></li>
{% endfor %}

{% endblock %}


{% block installations %}
  {% if Installation_info%}
    {% for Installation in Installation_info %}
     <li><a href="../{{Installation.Instalator_id}}/{{Installation.id}} ">#{{Installation.id}}: {{Installation.date}}</a></li>
    {% endfor %}
  {% else %}
    <strong>Пока нет инсталяций</strong>
  {% endif %}

{% endblock %}


{% block start_detail_info %}

    <strong>ТУТ МОГЛА БЫТЬ ВАША РЕКЛАМА</strong>

{% endblock %}
